/*--------------------------------------------------*/
/* General Setup                                    */

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}

	article, aside, figcaption, figure, footer,
	header, hgroup, main, nav, section {
		display: block;
	}

	body {
		font-family: verdana, arial, helvetica, sans-serif;
		font-size: 0.8em;
		line-height: 1.2em;
		color: #000;
		background-color: #FFF;
	}

	a {
		color: #00E;
	}

	a img {
		border: 0;
	}

	p,
	h1,
	h2,
	h3 {
		margin: 0 0 1em 0;
	}

/*--------------------------------------------------*/
/* Article                                          */

	#article_wrapper {
		padding: 5px;
	}

	body.inline #article_wrapper {
		padding: 10px 0 0 0;
	}

	body.inline #article_wrapper h1 {
		display: none;
	}

	#article_wrapper span.image_wrapper em {
		display: block;
		margin: 5px 0;
		color: #000;
		background: #FFFFD8;
		padding: 5px;
		border: 1px solid #ffcc00;
		clear: both;
		max-width: 50em;
		font-style: normal;
	}

	#article_wrapper p.published {
		color: #BBB;
		font-style: italic;
	}

	@media only screen and (max-device-width: 480px) {
		#article_wrapper {
			word-break: break-word; /* Works in iOS, other solutions are very buggy (http://blog.kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/) */
		}
		#article_wrapper blockquote {
			overflow: auto;
			width: 310px;
		}
		#article_wrapper span.image_wrapper {
			display: block;
			overflow: auto;
			width: 310px; /* iOS scales content up (large text) if there is a big inline image followed by text, also 100vw does not seem to work?  */
		}
		#article_wrapper span.image_wrapper img {
			display: block;
		}
	}

/*--------------------------------------------------*/
/* Webmaster help                                   */

	#article_wrapper.webmaster-help table td:first-child img {
		width: 100px;
	}

	#article_wrapper.webmaster-help table td:last-child,
	#article_wrapper.webmaster-help table td:nth-child(2) div:first-child {
		display: none;
	}

	#article_wrapper.webmaster-help table td {
		vertical-align: top;
	}

/*--------------------------------------------------*/
/* A list apart                                     */

	#article_wrapper.a-list-apart div > a:first-child {
		display: none;
	}

/*--------------------------------------------------*/
/* Smashing magazine                                */

	#article_wrapper.smashing > div > table[width="650"]:first-child {
		display: none;
	}

/*--------------------------------------------------*/
/* What if?                                         */

	#article_wrapper.what-if article.entry h1 {
		display: none;
	}
	
/*--------------------------------------------------*/
/* Daily WTF                                        */

	#article_wrapper.the-daily-wtf > div > div:nth-last-child(3) {
		display: none;
	}

	#article_wrapper.the-daily-wtf .feedflare {
		display: none;
	}
