/*--------------------------------------------------*/
/* General Setup                                    */

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, figure,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}

	article, aside, figcaption, figure, footer,
	header, hgroup, main, nav, section {
		display: block;
	}

	body {
		font-family: verdana, arial, helvetica, sans-serif;
		font-size: 0.8em;
		line-height: 1.3em;
		color: #000;
		background-color: #FFF;
	}

	a {
		color: #00E;
	}

	a img {
		border: 0;
	}

	p,
	h1,
	h2,
	h3 {
		margin: 1em 0;
	}

	ul,
	ol {
		margin: 1em 0 1em 2em;
	}

	hr {
		margin: 1em 0 1em 0;
		border: 0;
		border-bottom: 1px solid #000;
	}

	table {
		border: 1px solid #000;
		border-collapse: collapse;
		border-spacing: 0;
		margin: 1em 0;
	}

	table th,
	table td {
		border: 1px solid #000;
		vertical-align: top;
		padding: 3px;
	}

/*--------------------------------------------------*/
/* Article                                          */

	#article_wrapper {
		padding: 5px;
	}

	#article_wrapper :first-child {
		margin-top: 0;
	}

	@media only screen and (max-device-width: 480px) {
		#article_wrapper {
			word-break: break-word; /* Works in iOS, other solutions are very buggy (http://blog.kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/) */
		}
		#article_wrapper > * {
			max-width: 310px; /* Avoid horizontal scroll, page width gets messed up (re-collocation of page width), can cause many crash scenarios */
		}
	}

	#article_wrapper blockquote {
		margin: 1em 0;
		padding: 0 0 0 5px;
		color: #777;
	}

	#article_wrapper a.script_tag,
	#article_wrapper a.link_tag,
	#article_wrapper span.script_tag,
	#article_wrapper span.link_tag {
		text-decoration: none;
		color: #D00;
	}

	#article_wrapper span.image_wrapper em {
		display: block;
		margin: 5px 0;
		color: #000;
		background: #FFFFD8;
		padding: 5px;
		border: 1px solid #ffcc00;
		clear: both;
		max-width: 50em;
		font-style: normal;
	}

	#article_wrapper p.article_info {
		margin: 1em 0;
	}

	#article_wrapper p.article_info span.published {
		color: #BBB;
		font-style: italic;
	}

	#article_wrapper span.image_wrapper {
		display: block;
		/* overflow: auto; - Causes iOS to crash */
	}
	#article_wrapper span.image_wrapper img {
		display: block;
	}

/*--------------------------------------------------*/
/* Webmaster help                                   */

	#article_wrapper.webmaster-help > div > div {
		width: auto !important;
	}

	#article_wrapper.webmaster-help table table {
		display: block;
	}

	#article_wrapper.webmaster-help table td {
		display: block;
		vertical-align: top;
		padding: 0 0 1em 0;
	}

	#article_wrapper.webmaster-help table td:last-child,
	#article_wrapper.webmaster-help table td:nth-child(2) div:first-child {
		display: none;
	}

	#article_wrapper.webmaster-help table td:first-child img {
		width: 100px;
	}

/*--------------------------------------------------*/
/* A list apart                                     */

	#article_wrapper.a-list-apart div > a:first-child {
		display: none;
	}

/*--------------------------------------------------*/
/* Smashing magazine                                */

	#article_wrapper.smashing > div > table[width="650"]:first-child {
		display: none;
	}

/*--------------------------------------------------*/
/* What if?                                         */

	#article_wrapper.what-if article.entry h1 {
		display: none;
	}

	#article_wrapper.what-if article.entry .refbody {
		background: #CCC;
		margin: 0 0 0 3px;
		padding: 0 1px;
	}

/*--------------------------------------------------*/
/* Daily WTF                                        */

	#article_wrapper.the-daily-wtf > div > div:nth-last-child(3) {
		display: none;
	}

	#article_wrapper.the-daily-wtf .feedflare {
		display: none;
	}

/*--------------------------------------------------*/
/* Mac rumours                                      */

	#article_wrapper.macrumors .mf-viral,
	#article_wrapper.macrumors .feedflare {
		display: none;
	}

/*--------------------------------------------------*/
/* DZone                                            */

	#article_wrapper.dzone > div img {
		float: none !important;
	}

	#article_wrapper.dzone > div > p {
		margin: 1em 0 0 0 !important;
	}
