/*--------------------------------------------------*/
/* General Setup                                    */

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, figure,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}

	article, aside, figcaption, figure, footer,
	header, hgroup, main, nav, section {
		display: block;
	}

	body {
		font-family: verdana, arial, helvetica, sans-serif;
		font-size: 0.8em;
		line-height: 1.3em;
		color: #000;
		background-color: #FFF;
	}

	a {
		color: #00E;
	}

	a img {
		border: 0;
	}

	p,
	h1,
	h2,
	h3 {
		margin: 0 0 1em 0;
	}

	ul,
	ol {
		margin: 0 0 1em 2em;
	}

	hr {
		margin: 1em 0 1em 0;
		border: 0;
		border-bottom: 1px solid #000;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	table th,
	table td {
		vertical-align: top;
	}

/*--------------------------------------------------*/
/* Avoid auto zoom on input field selection         */

	@media only screen and (max-device-width: 480px) {

		select,
		textarea,
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"] {
			font-size: 16px;
		}

	}

/*--------------------------------------------------*/
/* Generic Classes                                  */

	.visually_hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
		border: 0;
		margin: -1px;
		padding: 0;
	}

/*--------------------------------------------------*/
/* Page Frame                                       */

	/*--------------------------------------------------*/
	/* Page wrapper                                     */

		html,
		body,
		#page_wrapper {
			height: 100%; /* Used for display flex, to fix footer at bottom */
		}

		#page_wrapper {

			display: -webkit-flex;  /* NEW, Chrome 21+ */
			display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

			-webkit-flex-direction: column; /* NEW, Chrome 21+ */
			flex-direction: column;         /* NEW: Opera 12.1, Firefox 22+ */

			height: 100%;
			width: 100%;

		}

	/*--------------------------------------------------*/
	/* Page title                                       */

		#page_header {
			display: none;
		}

	/*--------------------------------------------------*/
	/* Page content                                     */

		#page_content {

			-webkit-flex: 1;          /* NEW, Chrome 21+ */
			flex: 1;                  /* NEW: Opera 12.1, Firefox 22+ */

			position: relative; /* iOS does not make the footer links active */

			-webkit-overflow-scrolling: touch;
			overflow: auto;

		}

		@media only screen and (min-width: 35em) {


		}

	/*--------------------------------------------------*/
	/* Page footer                                      */

		#page_footer {

			background: #000;
			color: #FFF;
			padding: 20px 5px;
			text-align: center;
			overflow: hidden;

			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

		}

		#page_footer a {
			color: #FFF;
		}

		#page_footer a.back,
		#page_footer a.prev,
		#page_footer a.next,
		#page_footer a.read,
		#page_footer a.unread,
		#page_footer a.sources,
		#page_footer a.reload,
		#page_footer a.logout {
			-webkit-touch-callout: none;
		}

		#page_footer > span,
		#page_footer a[href="#"] {
			color: #666;
		}

		#page_footer a.back,
		#page_footer a.sources {
			float: left;
			text-align: left;
			width: 5em;
		}

		#page_footer a.sources {
			text-decoration: none;
		}

		#page_footer a.sources span span {
			text-decoration: underline;
		}

		#page_footer a.sources span abbr.error {
			padding-left: 0.2em;
			color: #C00;
		}

		#page_footer a.reload {
			display: inline-block;
			text-decoration: none;
			width: 5em;
			line-height: 0.6em;
			font-size: 1.5em;
		}

		#page_footer .next,
		#page_footer .view {
			margin-left: 30px;
		}

		#page_footer .prev,
		#page_footer .next {
			content: '';
			position: relative;
			border: 15px solid #000;
		}

		#page_footer a.prev {
			top: -15px;
			border-bottom-color: #FFF;
		}

		#page_footer span.prev {
			top: -15px;
			border-bottom-color: #666;
		}

		#page_footer a.next {
			top: 15px;
			border-top-color: #FFF;
		}

		#page_footer span.next {
			top: 15px;
			border-top-color: #666;
		}

		#page_footer .prev span,
		#page_footer .next span {
			display: none;
		}

		#page_footer a.read,
		#page_footer a.unread,
		#page_footer a.logout {
			float: right;
			text-align: right;
			width: 5em;
		}

/*--------------------------------------------------*/
/* Thank you message                                */

	#page_message {
		border: 1px solid #191D58;
		margin: 1em 0 1em 0;
		padding: 1em;
		text-align: center;
		color: #FFF;
		background: #20287A;
		font-weight: bold;
	}

	#page_message p {
		margin: 0;
	}

	#page_message p a {
		color: #FFF;
	}

/*--------------------------------------------------*/
/* Index                                            */

	#reader_index {
		list-style: none;
		margin: 0;
	}

	#reader_index li {
		border-bottom: 1px solid #EEE;
		display: -webkit-flex;  /* NEW, Chrome 21+ */
		display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
	}

	#reader_index li.read a {
		color: #BBB;
		text-decoration: none;
	}

	#reader_index li a {
		-webkit-flex: 1;          /* NEW, Chrome 21+ */
		flex: 1;                  /* NEW: Opera 12.1, Firefox 22+ */
		display: block;
		padding: 5px;
	}

	#reader_index li em {
		float: right;
		padding: 5px;
		font-style: normal;
		position: relative; /* iOS forgets to show */
	}

/*--------------------------------------------------*/
/* List                                             */

	#reader_list {
		list-style: none;
		margin: 0;
	}

	#reader_list li {
		border-bottom: 1px solid #EEE;
		display: block;
		padding: 5px;
	}

	#reader_list li span {
		color: #BBB;
	}

	#reader_list li.no_articles {
		padding: 20px;
		text-align: center;
	}

	#reader_list li iframe {
		display: block;
		width: 100%;
	}

/*--------------------------------------------------*/
/* View                                             */

	#reader_view {
		position: absolute; /* Required for iOS (crashes without it?) */
		height: 100%;
		width: 100%;
	}

	#reader_view iframe {
		display: block;
		width: 100%;
		height: 100%;
	}

/*--------------------------------------------------*/
/* Debug                                            */

	#debug_output {
		display: none;
	}

/*--------------------------------------------------*/
/* Basic Form                                       */

	.basic_form fieldset {
		margin: 0 10px 1em 0;
	}

	.basic_form .error_list {
		color: #A00;
		background: inherit;
		font-weight: bold;
		margin: 0 0 0 2em;
		padding: 1em 0;
	}

	.basic_form .row {
		padding: 5px 0 0 0;
		clear: both;
	}

		@media only screen and (min-width: 40em) {
			.basic_form .row {
				padding-left: 11.5em;
			}
		}

	.basic_form .row .label {
		display: block;
		font-weight: normal;
	}

	.basic_form .row .label abbr.required {
		border: 0;
	}

	.basic_form .row.text .input input,
	.basic_form .row.password .input input,
	.basic_form .row.url .input input {
		width: 90%;
		max-width: 40em;
	}

	.basic_form .row.number.sort .input input {
		width: 5em;
	}

	.basic_form .row.info .input,
	.basic_form .row.radio .input,
	.basic_form .row.check .input {
		display: block;
		padding: 4px 0 1em 1.5em;
	}

		@media only screen and (min-width: 40em) {
			.basic_form .row .label {
				float: left;
				width: 11em;
				margin: 4px 0 0 -11.5em;
				text-align: right;
			}
			.basic_form .row.info .input {
				padding-bottom: 0;
				padding-left: 0;
			}
		}

/*--------------------------------------------------*/
/* Login page                                       */

	#p_home #page_content {
		padding: 5px;
	}

/*--------------------------------------------------*/
/* Source index                                     */

	#p_sources #page_content,
	#p_sources_edit #page_content,
	#p_sources_delete #page_content {
		padding: 5px;
	}

	#p_sources #page_content ol {
		margin: 0 0 0.8em 2.5em;
	}

	#p_sources #page_content ol li {
		margin: 0.2em;
	}

	#p_sources #page_content ol abbr.error {
		color: #C00;
	}
