/*--------------------------------------------------*/
/* General Setup                                    */

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}

	article, aside, figcaption, figure, footer,
	header, hgroup, main, nav, section {
		display: block;
	}

	body {
		font-family: verdana, arial, helvetica, sans-serif;
		font-size: 0.8em;
		line-height: 1.2em;
		color: #000;
		background-color: #FFF;
	}

	a {
		color: #00E;
	}

	a img {
		border: 0;
	}

	p,
	h1,
	h2,
	h3 {
		margin: 0 0 1em 0;
	}

	ul,
	ol {
		margin: 0 0 1em 2em;
	}

	hr {
		margin: 1em 0 1em 0;
		border: 0;
		border-bottom: 1px solid #000;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	table th,
	table td {
		vertical-align: top;
	}

/*--------------------------------------------------*/
/* Generic Classes                                  */

	.visually_hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
		border: 0;
		margin: -1px;
		padding: 0;
	}

/*--------------------------------------------------*/
/* Page Frame                                       */

	/*--------------------------------------------------*/
	/* Page wrapper                                     */

		html,
		body,
		#page_wrapper {
			height: 100%; /* Used for display flex, to fix footer at bottom */
		}

		#page_wrapper {

			display: -webkit-box;   /* OLD: Safari, iOS, Android browser, older WebKit browsers. */
			display: -moz-box;      /* OLD: Firefox (buggy) */
			display: -webkit-flex;  /* NEW, Chrome 21+ */
			display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

			-webkit-box-orient: vertical;   /* OLD: Safari, iOS, Android browser, older WebKit browsers. */
			-moz-box-orient: vertical;      /* OLD: Firefox (buggy) */
			-webkit-flex-direction: column; /* NEW, Chrome 21+ */
			flex-direction: column;         /* NEW: Opera 12.1, Firefox 22+ */

			height: 100%;
			width: 100%;

		}

	/*--------------------------------------------------*/
	/* Page title                                       */

		#page_title {
			display: none;
		}

	/*--------------------------------------------------*/
	/* Page content                                     */

		#page_content {

			-webkit-box-flex: 1;      /* OLD: Safari, iOS, Android browser, older WebKit browsers. */
			-moz-box-flex: 1;         /* OLD: Firefox (buggy) */
			-webkit-flex: 1;          /* NEW, Chrome 21+ */
			flex: 1;                  /* NEW: Opera 12.1, Firefox 22+ */

			position:relative;

		}

		@media only screen and (min-width: 35em) {


		}

	/*--------------------------------------------------*/
	/* Page footer                                      */

		#page_footer {

			background: #000;
			color: #FFF;
			padding: 15px 5px;
			text-align: center;
			overflow: auto;

			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

		}

		#page_footer a {
			color: #FFF;
		}

		#page_footer span,
		#page_footer a[href="#"] {
			color: #666;
		}

		#page_footer a.back {
			float: left;
			text-align: left;
			width: 5em;
		}

		#page_footer a.nextX {
		}

		#page_footer a.nextX:after {
			content: '';
			position: absolute;
			right: -10px;
			top: 7px;
			border: 10px solid transparent;
			border-bottom-color: #FFF;
		}

		#page_footer a.read,
		#page_footer a.unread {
			float: right;
			text-align: right;
			width: 5em;
		}

/*--------------------------------------------------*/
/* Thank you message                                */

	#page_message {
		border: 1px solid #191D58;
		margin: 1em 0 1em 0;
		padding: 1em;
		text-align: center;
		color: #FFF;
		background: #20287A;
		font-weight: bold;
	}

	#page_message p {
		margin: 0;
	}

	#page_message p a {
		color: #FFF;
	}

/*--------------------------------------------------*/
/* Index                                            */

	#reader_index {
		list-style: none;
		margin: 0;
	}

	#reader_index li {
		border-bottom: 1px solid #EEE;
		display: -webkit-box;   /* OLD: Safari, iOS, Android browser, older WebKit browsers. */
		display: -moz-box;      /* OLD: Firefox (buggy) */
		display: -webkit-flex;  /* NEW, Chrome 21+ */
		display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
	}

	#reader_index li.no_articles {
		display: none;
	}

	#reader_index li a {
		-webkit-box-flex: 1;      /* OLD: Safari, iOS, Android browser, older WebKit browsers. */
		-moz-box-flex: 1;         /* OLD: Firefox (buggy) */
		-webkit-flex: 1;          /* NEW, Chrome 21+ */
		flex: 1;                  /* NEW: Opera 12.1, Firefox 22+ */
		display: block;
		padding: 5px;
	}

	#reader_index li em {
		float: right;
		padding: 5px;
		font-style: normal;
	}

/*--------------------------------------------------*/
/* List                                             */

	#reader_list {
		list-style: none;
		margin: 0;
	}

	#reader_list li {
		border-bottom: 1px solid #EEE;
	}

	#reader_list li a {
		display: block;
		padding: 5px;
	}

	#reader_list li.no_articles {
		padding: 20px;
		text-align: center;
	}

/*--------------------------------------------------*/
/* View                                             */

	#reader_view {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	#reader_view iframe {
		display: block;
		width: 100%;
		height: 100%;
	}

	#debug_wrapper {
		display: none;
	}
